<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'O&M Systems Mitigation Plan'" [items]="[]" [active_item]="'Mitigation Actions'"></app-breadcrumb>
    </div>
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="body">
            <div class="table-responsive">
              <div class="materialTableHeader">
                <div class="row">
                  <div class="col-8">
                    <ul class="header-buttons-left ms-0">
                      <li class="dropdown">
                        <h2>Mitigations</h2>
                      </li>
                      <li class="dropdown m-l-20">
                        <label for="search-input"><i class="material-icons search-icon">search</i></label>
                        <input placeholder="Search" type="text" (keyup)="applyFilter($event)" #input
                          class="browser-default search-field" aria-label="Search box">
                      </li>
                      <li>
                        <div class="m-l-10" matTooltip="ADD">
                          <button mat-mini-fab color="primary" (click)="addMitigationAction()">
                            <mat-icon class="col-white">add</mat-icon>
                          </button>
                        </div>
                      </li>
                      <li>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <table mat-table [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef> No. </th>
                  <td mat-cell *matCellDef="let region ; let i = index"> {{i+1}} </td>
                </ng-container>
                <ng-container matColumnDef="programTitle">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Program </th>
                  <td mat-cell *matCellDef="let region"> {{region.programTitle}} </td>
                </ng-container>
                <ng-container matColumnDef="actionTitle">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Action Title </th>
                  <td mat-cell *matCellDef="let region"><u> {{region.actionTitle}} </u></td>
                </ng-container>
                <ng-container matColumnDef="priorityTitle">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Priority Title </th>
                  <td mat-cell *matCellDef="let region"> {{region.priorityTitle}} </td>
                </ng-container>
                <ng-container matColumnDef="objectiveOutcome">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Objective Outcome </th>
                  <td mat-cell *matCellDef="let region"> {{region.objectiveOutcome}} </td>
                </ng-container>
                <ng-container matColumnDef="targetDate">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Target Date </th>
                  <td mat-cell *matCellDef="let region"> {{region.targetDate | date}} </td>
                </ng-container>
                <ng-container matColumnDef="statusTitle">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Status Title </th>
                  <td mat-cell *matCellDef="let region"> {{region.statusTitle}} </td>
                </ng-container>
                <ng-container matColumnDef="actions">
                  <th mat-header-cell *matHeaderCellDef style="padding-left:30px!important; padding-right:30px!important">Actions</th>
                  <td mat-cell class="action-button" *matCellDef="let row; let i=index;" class="pr-0">
                    <button mat-icon-button (click)="$event.stopPropagation()" (click)="editMitigationAction(row)"
                      class="tbl-action-btn" matTooltip="EDIT">
                      <app-feather-icons [icon]="'edit'" [class]="'tbl-fav-edit'"></app-feather-icons>
                    </button>
                    <!-- <button mat-icon-button color="primary" (click)="$event.stopPropagation()" matTooltip="VIEW"
                      (click)="viewMitigationAction(row)">
                      <mat-icon>visibility</mat-icon>
                    </button> -->
                    <button mat-icon-button (click)="$event.stopPropagation()" (click)="deleteMitigationAction(row)"
                      class="tbl-action-btn" matTooltip="DELETE">
                      <app-feather-icons [icon]="'trash-2'" [class]="'tbl-fav-delete'"></app-feather-icons>
                    </button>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="viewMitigationAction(row)"
                  [style.cursor]="'pointer'" matRipple></tr>
              </table>
              <div *ngIf="isTableLoading" class="tbl-spinner">
                <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
                </mat-progress-spinner>
              </div>
              <div *ngIf="!isTableLoading" class="no-results"
                [style.display]="dataSource.renderedData?.length == 0 ? '' : 'none'">
                No results
              </div>
              <mat-paginator [pageSizeOptions]="[10, 20, 100]" showFirstLastButtons
                aria-label="Select page of periodic elements">
              </mat-paginator>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
