<section class="content">
  <div class="content-block">
    <div class="block-header">
      <app-breadcrumb [title]="'Insurance'" [items]="[]" [active_item]="'Assign Recommendations'"></app-breadcrumb>
    </div>
    <div class="card" *ngIf="displayFilter">
      <div class="row m-4 p-0">
        <h5 class="card-title">Filter By:</h5>
        <div class="col-md-3">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Start Date</mat-label>
            <input matInput [matDatepicker]="picker1" [(ngModel)]="filterObj.startData">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>End Date</mat-label>
            <input matInput [matDatepicker]="picker2" [(ngModel)]="filterObj.endDate">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Regions</mat-label>
            <mat-select [(ngModel)]="filterObj.regionId" (selectionChange)="getSites($event.value)">
              <mat-option [value]="-1">--All--</mat-option>
              <mat-option *ngFor="let country of regions"
                [value]="country.regionId">{{country.regionTitle}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-3 pb-0">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Sites</mat-label>
            <mat-select [(ngModel)]="filterObj.siteId">
              <mat-option [value]="-1">--All--</mat-option>
              <mat-option *ngFor="let country of selectedSites"
                [value]="country.siteId">{{country.siteTitle}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-3 pb-0">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Department</mat-label>
            <mat-select [(ngModel)]="filterObj.department">
              <mat-option [value]="-1">--All--</mat-option>
              <mat-option *ngFor="let c of companies" [value]="c.companyId">{{c.companyTitle}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-3 pb-0">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Source</mat-label>
            <mat-select [(ngModel)]="filterObj.source">
              <mat-option [value]="-1">--All--</mat-option>
              <mat-option *ngFor="let s of sources" [value]="s.sourceId">{{s.sourceTitle}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-1 pb-0">
          <div class="float-end">
            <button mat-mini-fab color="accent" aria-label="Example icon button with a bookmark icon"
              (click)="getActionTracker()">
              <mat-icon>search</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="body">
            <div class="table-responsive">
              <div class="materialTableHeader">
                <div class="row">
                  <div class="col-8">
                    <ul class="header-buttons-left ms-0">
                      <li class="dropdown">
                        <h2>Assign Recommendations</h2>
                      </li>
                      <li class="dropdown m-l-20">
                        <label for="search-input"><i class="material-icons search-icon">search</i></label>
                        <input placeholder="Search" type="text" (keyup)="applyFilter($event)" #input
                          class="browser-default search-field" aria-label="Search box">
                      </li>
                      <li>
                        <div class="m-l-10" matTooltip="ADD">
                          <button mat-mini-fab color="primary" (click)="addInsurenceTracker()">
                            <mat-icon class="col-white">add</mat-icon>
                          </button>
                        </div>
                      </li>
                      <!-- <li>
                        <div class="m-l-10" matTooltip="FILTER DATA">
                          <button mat-mini-fab color="warn" (click)="toggleFilter()">
                            <mat-icon>filter_list</mat-icon>
                          </button>
                        </div>
                      </li> -->
                    </ul>
                  </div>
                  <div class="col-4">
                    <ul class="header-buttons">
                    <li class="me-4">
                      <button mat-raised-button color="filter" [matMenuTriggerFor]="menu1">Filter
                        <mat-icon>filter_list</mat-icon>
                      </button>
                      <mat-menu #menu1="matMenu">
                        <div style="position: relative; max-width: 200px!important; max-height: 350px;"
                          [perfectScrollbar]>
                          <div class="row">
                            <div class="col-md-6">
                              <h6 class="ms-4 mt-3">Filter:</h6>
                            </div>
                            <div class="col-md-3">
                              <div class="me-2 float-end"><button mat-icon-button color="primary" matTooltip="SEARCH"
                                  aria-label="Example icon button with a home icon" (click)="filterFn()">
                                  <mat-icon>search</mat-icon>
                                </button></div>
                            </div>
                            <div class="col-md-3">
                              <div class="me-2 float-end"><button mat-icon-button color="warn" matTooltip="CLEAR"
                                  (click)="$event.stopPropagation()" aria-label="Example icon button with a home icon"
                                  (click)="clearFn()">
                                  <mat-icon>clear_all</mat-icon>
                                </button></div>
                            </div>
                          </div>
                          <mat-accordion (click)="$event.stopPropagation()">
                            <mat-expansion-panel class="mb-0">
                              <mat-expansion-panel-header (click)="$event.stopPropagation()">
                                <mat-panel-title style="font-size: 13px;">
                                  Regions
                                </mat-panel-title>
                              </mat-expansion-panel-header>
                              <mat-panel-description>
                                <div class="row">
                                  <div class="col-md-12" *ngFor="let r of regions; let i = index">
                                    <mat-checkbox (click)="$event.stopPropagation()" class="example-margin"
                                      [(ngModel)]="r.isSelected" (click)="regionListFn(r)">
                                      {{r.regionTitle}}
                                    </mat-checkbox>
                                  </div>
                                </div>
                              </mat-panel-description>
                            </mat-expansion-panel>
                            <mat-expansion-panel class="mt-0">
                              <mat-expansion-panel-header (click)="$event.stopPropagation()">
                                <mat-panel-title style="font-size: 13px;">
                                  Sites
                                </mat-panel-title>
                              </mat-expansion-panel-header>
                              <mat-panel-description>
                                <div class="row">
                                  <div class="col-md-12" *ngFor="let r of sites; let i = index">
                                    <mat-checkbox (click)="$event.stopPropagation()" class="example-margin"
                                      [(ngModel)]="r.isSelected" (click)="siteListFn(r)">
                                      {{r.siteTitle}}
                                    </mat-checkbox>
                                  </div>
                                </div>
                              </mat-panel-description>
                            </mat-expansion-panel>
                            <mat-expansion-panel class="mt-0">
                              <mat-expansion-panel-header (click)="$event.stopPropagation()">
                                <mat-panel-title style="font-size: 13px;">
                                  Source
                                </mat-panel-title>
                              </mat-expansion-panel-header>
                              <mat-panel-description>
                                <div class="row">
                                  <div class="col-md-12" *ngFor="let r of sources; let i = index">
                                    <mat-checkbox (click)="$event.stopPropagation()" class="example-margin"
                                      [(ngModel)]="r.isSelected" (click)="sourceListFn(r)">
                                      {{r.sourceTitle}}
                                    </mat-checkbox>
                                  </div>
                                </div>
                              </mat-panel-description>
                            </mat-expansion-panel>
                            <mat-expansion-panel class="mt-0">
                              <mat-expansion-panel-header (click)="$event.stopPropagation()">
                                <mat-panel-title style="font-size: 13px;">
                                  Department
                                </mat-panel-title>
                              </mat-expansion-panel-header>
                              <mat-panel-description>
                                <div class="row">
                                  <div class="col-md-12" *ngFor="let r of companies; let i = index">
                                    <mat-checkbox (click)="$event.stopPropagation()" class="example-margin"
                                      [(ngModel)]="r.isSelected" (click)="departmentListFn(r)">
                                      {{r.companyTitle}}
                                    </mat-checkbox>
                                  </div>
                                </div>
                              </mat-panel-description>
                            </mat-expansion-panel>
                            <mat-expansion-panel class="mt-0">
                              <mat-expansion-panel-header (click)="$event.stopPropagation()">
                                <mat-panel-title style="font-size: 13px;">
                                  Priority
                                </mat-panel-title>
                              </mat-expansion-panel-header>
                              <mat-panel-description>
                                <div class="row">
                                  <div class="col-md-12" *ngFor="let r of priority; let i = index">
                                    <mat-checkbox (click)="$event.stopPropagation()" class="example-margin"
                                      [(ngModel)]="r.isSelected" (click)="priorityListFn(r)">
                                      {{r.priorityTitle}}
                                    </mat-checkbox>
                                  </div>
                                </div>
                              </mat-panel-description>
                            </mat-expansion-panel>
                            <mat-expansion-panel class="mt-0">
                              <mat-expansion-panel-header (click)="$event.stopPropagation()">
                                <mat-panel-title style="font-size: 13px;">
                                  Cluster
                                </mat-panel-title>
                              </mat-expansion-panel-header>
                              <mat-panel-description>
                                <div class="row">
                                  <div class="col-md-12" *ngFor="let r of cluster; let i = index">
                                    <mat-checkbox (click)="$event.stopPropagation()" class="example-margin"
                                      [(ngModel)]="r.isSelected" (click)="clusterListFn(r)">
                                      {{r.clusterTitle}}
                                    </mat-checkbox>
                                  </div>
                                </div>
                              </mat-panel-description>
                            </mat-expansion-panel>
                          </mat-accordion>
                        </div>
                      </mat-menu>
                    </li>
                    <li>
                      <button mat-raised-button color="download" [matMenuTriggerFor]="menu">
                        Export<mat-icon>keyboard_arrow_down</mat-icon></button>
                      <mat-menu #menu="matMenu">
                        <button mat-menu-item matTooltip="XLSX"
                          (click)="exporter.exportTable('xlsx', {fileName:'Site-list'})">
                          <img src="assets/images/icons/xlsx.png" alt="">
                          <span class="ms-1">Download Excel</span>
                        </button>
                        <button mat-menu-item matTooltip="CSV"
                          (click)="exporter.exportTable('csv', {fileName:'Site-list'})">
                          <img src="assets/images/icons/csv.png" alt="">
                          <span class="ms-1">Download CSV</span>
                        </button>
                        <button mat-menu-item matTooltip="JSON"
                          (click)="exporter.exportTable('json', {fileName:'Site-list'})">
                          <img src="assets/images/icons/json.png" alt="">
                          <span class="ms-1">Download JSON</span>
                        </button>
                        <button mat-menu-item matTooltip="TXT"
                          (click)="exporter.exportTable('txt', {fileName:'Site-list'})">
                          <img src="assets/images/icons/txt.png" alt="">
                          <span class="ms-1">Download Text</span>
                        </button>
                      </mat-menu>
                    </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="example-container">
                <table mat-table [dataSource]="dataSource" matSort matTableExporter #exporter="matTableExporter">
                  <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> No. </th>
                    <td mat-cell *matCellDef="let action ; let i = index"> {{i+1}} </td>
                  </ng-container>
                  <ng-container matColumnDef="cluster">
                    <th mat-header-cell *matHeaderCellDef> Cluster </th>
                    <td mat-cell *matCellDef="let recommendation"> {{recommendation.clusterTitle}} </td>
                  </ng-container>
                  <ng-container matColumnDef="recommendationReference">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Recommendation Reference </th>
                    <td mat-cell *matCellDef="let action"> {{action.recommendationReference}} </td>
                  </ng-container>
                  <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> Action </th>
                    <td mat-cell *matCellDef="let action"> {{action.action}} </td>
                  </ng-container>
                  <ng-container matColumnDef="assignedTo">
                    <th mat-header-cell *matHeaderCellDef> Assigned To </th>
                    <td mat-cell *matCellDef="let action"> {{action.assignedTo}} </td>
                  </ng-container>
                  <ng-container matColumnDef="priorityTitle">
                    <th mat-header-cell *matHeaderCellDef> Priority </th>
                    <td mat-cell *matCellDef="let action"> {{action.priorityTitle}} </td>
                  </ng-container>
                  <ng-container matColumnDef="targetDate">
                    <th mat-header-cell *matHeaderCellDef> Target Date </th>
                    <td mat-cell *matCellDef="let action"> {{action.targetDate | date}} </td>
                  </ng-container>
                  <ng-container matColumnDef="actionClosedTitle">
                    <th mat-header-cell *matHeaderCellDef> Action Closed By </th>
                    <td mat-cell *matCellDef="let action"> {{action.actionClosedTitle }} </td>
                  </ng-container>
                  <ng-container matColumnDef="statusTitle">
                    <th mat-header-cell *matHeaderCellDef> Status Title </th>
                    <td mat-cell *matCellDef="let action"> {{action.statusTitle}} </td>
                  </ng-container>
                  <ng-container matColumnDef="companyTitle">
                    <th mat-header-cell *matHeaderCellDef> Company Title </th>
                    <td mat-cell *matCellDef="let action"> {{action.companyTitle}} </td>
                  </ng-container>
                  <ng-container matColumnDef="comments">
                    <th mat-header-cell *matHeaderCellDef> Comments </th>
                    <td mat-cell *matCellDef="let action"> {{action.comments}} </td>
                  </ng-container>
                  <ng-container matColumnDef="closureDate">
                    <th mat-header-cell *matHeaderCellDef> Closure Date </th>
                    <td mat-cell *matCellDef="let action"> {{action.closureDate | date}} </td>
                  </ng-container>
                  <ng-container matColumnDef="evidenceAvailable">
                    <th mat-header-cell *matHeaderCellDef> Evidence Available </th>
                    <td mat-cell *matCellDef="let action"> {{action.evidenceAvailable}} </td>
                  </ng-container>
                  <ng-container matColumnDef="calcStatus">
                    <th mat-header-cell *matHeaderCellDef> Calc Status </th>
                    <td mat-cell *matCellDef="let action"> {{action.calcStatus}} </td>
                  </ng-container>
                  <ng-container matColumnDef="calcEvid">
                    <th mat-header-cell *matHeaderCellDef> Calc Evid </th>
                    <td mat-cell *matCellDef="let action"> {{action.calcEvid}} </td>
                  </ng-container>
                  <ng-container matColumnDef="calcDate">
                    <th mat-header-cell *matHeaderCellDef> Calc Date </th>
                    <td mat-cell *matCellDef="let action"> {{action.calcDate}} </td>
                  </ng-container>
                  <ng-container matColumnDef="completionScore">
                    <th mat-header-cell *matHeaderCellDef> Completion Score </th>
                    <td mat-cell *matCellDef="let action"> {{action.completionScore}} </td>
                  </ng-container>
                  <ng-container matColumnDef="daysToTarget">
                    <th mat-header-cell *matHeaderCellDef> Days To Target </th>
                    <td mat-cell *matCellDef="let action"> {{action.daysToTarget}} </td>
                  </ng-container>
                  <ng-container matColumnDef="scoreDetails">
                    <th mat-header-cell *matHeaderCellDef> Score Details </th>
                    <td mat-cell *matCellDef="let action"> {{action.scoreDetails}} </td>
                  </ng-container>
                  <ng-container matColumnDef="siteTitle">
                    <th mat-header-cell *matHeaderCellDef> Site Title </th>
                    <td mat-cell *matCellDef="let action"> {{action.siteTitle}} </td>
                  </ng-container>
                  <ng-container matColumnDef="regionTitle">
                    <th mat-header-cell *matHeaderCellDef> Region Title </th>
                    <td mat-cell *matCellDef="let action"> {{action.regionTitle}} </td>
                  </ng-container>
                  <ng-container matColumnDef="sourceTitle">
                    <th mat-header-cell *matHeaderCellDef> Source Title </th>
                    <td mat-cell *matCellDef="let action"> {{action.sourceTitle}} </td>
                  </ng-container>
                  <ng-container matColumnDef="actions" style="text-align:center;" stickyEnd>
                    <th mat-header-cell *matHeaderCellDef style="padding:0 70px!important">Actions</th>
                    <td mat-cell class="action-button" *matCellDef="let row; let i=index;" style="text-align:center;"
                      class="pr-0">
                      <button mat-icon-button (click)="$event.stopPropagation()" (click)="updateInsurenceTracker(row)"
                        class="tbl-action-btn" matTooltip="EDIT">
                        <app-feather-icons [icon]="'edit'" [class]="'tbl-fav-edit'"></app-feather-icons>
                      </button>
                      <button mat-icon-button (click)="$event.stopPropagation()" (click)="deleteInsurenceTracker(row)"
                        class="tbl-action-btn" matTooltip="DELETE">
                        <app-feather-icons [icon]="'trash-2'" [class]="'tbl-fav-delete'"></app-feather-icons>
                      </button>
                      <button mat-icon-button color="primary" (click)="$event.stopPropagation()"
                        matTooltip="VIEW ACTION" (click)="viewAction(row)">
                        <mat-icon>visibility</mat-icon>
                      </button>
                      <button mat-icon-button color="accent" (click)="$event.stopPropagation()"
                        matTooltip="VIEW RECOMMENDATION" (click)="viewInsurence(row)">
                        <mat-icon>visibility</mat-icon>
                      </button>
                    </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="updateInsurenceTracker(row)"
                    [style.cursor]="'pointer'" matRipple></tr>
                </table>
                <div *ngIf="isTableLoading" class="tbl-spinner">
                  <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
                  </mat-progress-spinner>
                </div>
                <div *ngIf="!isTableLoading" class="no-results"
                  [style.display]="dataSource.renderedData?.length == 0 ? '' : 'none'">
                  No results
                </div>
                <mat-paginator [pageSizeOptions]="[10, 20, 100]" showFirstLastButtons
                  aria-label="Select page of periodic elements">
                </mat-paginator>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>