<section class="content">
    <div class="content-block">
      <div class="block-header">
        <!-- breadcrumb -->
        <app-breadcrumb [title]="'Working Hours'" [items]="[]" [active_item]="'Dashboard'"></app-breadcrumb>
      </div>
      <div class="row clearfix">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="card" style="height: 100%!important;">
            <div class="body">
                <iframe src="https://app.powerbi.com/reportEmbed?reportId=3dd97891-e48a-4f02-ad2c-8816c8f010b3&autoAuth=true&ctid=058b28e4-6bda-479f-b7c3-5527c4b94031" frameborder="0" style="height: 80vh; width: 100%!important;"></iframe>  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  

