
/* .mat-row {
    height: auto;
  }
  
  .mat-header-cell .mat-cell {
    padding: 8px 8px 8px 0;
  } */
  /* .action-button{
    padding: 15px 15px 15px 0!important;
    width:100%
  } */
  table {
    width: 100%;
  }
  td, th {
    width: 1%;
  }