<div class="addContainer">
    <div class="modalHeader">
        <div class="editRowModal">
            <div class="modalHeader clearfix">
                <div class="modal-about">
                    <div class="font-weight-bold p-t-5 msl-3 font-17">
                        {{dialogTitle}}</div>
                </div>
            </div>
        </div>
        <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div mat-dialog-content>
        <form class="register-form m-4" [formGroup]="trackingForm">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Action</mat-label>
                        <input matInput readonly formControlName="action">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Recommendation Reference</mat-label>
                        <input matInput readonly formControlName="recommendationReference">
                            
                    </mat-form-field>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Assigned To</mat-label>
                        <input matInput readonly formControlName="assignedTo">
                    </mat-form-field>
                    <mat-chip-list>
                        <mat-chip color="primary" *ngFor="let u of userList"  selected>
                            {{u.email}}
                            
                        </mat-chip>
                    </mat-chip-list>
                </div>
            </div> -->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Target Date</mat-label>
                        <input matInput readonly formControlName="targetDate">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Status</mat-label>
                        <input matInput readonly formControlName="statusId">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Comments</mat-label>
                        <input matInput readonly formControlName="comments">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Closure Date</mat-label>
                        <input matInput readonly formControlName="closureDate">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Evidence Available</mat-label>
                        <input matInput readonly formControlName="evidenceAvailable">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Days To Target</mat-label>
                        <input matInput readonly formControlName="daysToTarget">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Completion Score</mat-label>
                        <input matInput readonly formControlName="completionScore">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Site</mat-label>
                        <input matInput readonly formControlName="siteId">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Department / Company</mat-label>
                        <input matInput readonly formControlName="companyId">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Source</mat-label>
                        <input matInput readonly formControlName="companyId">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2">
                    <div class="example-button-row float-start">
                        <button mat-raised-button color="success" (click)="uploadEvidence()">
                            <mat-icon>insert_drive_file</mat-icon>Evidence</button>
                    </div>
                </div>
                <!-- <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2">
                    <div class="example-button-row float-start" *ngIf="actionTracker.reportAttahced" >
                        <button mat-raised-button color="success" (click)="downloadReport()">
                            <mat-icon>cloud_download</mat-icon>Report</button>
                    </div>
                </div> -->
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2">
                    <div class="example-button-row float-end">
                    
                        <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>