<div class="addContainer">
    <div class="modalHeader">
        <div class="editRowModal">
            <div class="modalHeader clearfix">
                <div class="modal-about">
                    <div class="font-weight-bold p-t-5 msl-3 font-17">
                        {{dialogTitle}}</div>
                </div>
            </div>
        </div>
        <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div mat-dialog-content>
        <form class="register-form m-4" [formGroup]="outageForm">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Site</mat-label>
                        <mat-select formControlName="siteId" (selectionChange)="getEquipments($event.value)">
                            <mat-option>None</mat-option>
                            <mat-option *ngFor="let s of sites" [value]="s.siteId">{{s.siteTitle}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="outageForm.get('siteId').hasError('required')">
                           Site is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Equipment</mat-label>
                        <mat-select formControlName="equipmentId">
                            <mat-option>None</mat-option>
                            <mat-option *ngFor="let s of equipments" [value]="s.equipmentId">{{s.siteUnit}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="outageForm.get('siteId').hasError('required')">
                           Equipment is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Next Outage</mat-label>
                        <mat-select formControlName="outageTypeId">
                            <mat-option>None</mat-option>
                            <mat-option *ngFor="let n of nextOutages" [value]="n.outageTypeId">{{n.outageTitle}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="outageForm.get('outageTypeId').hasError('required')">
                            Outage is required
                         </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Next Outage Date</mat-label>
                        <input matInput [matDatepicker]="picker2" formControlName="nextOutageDate">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                        <mat-error *ngIf="outageForm.get('nextOutageDate').hasError('required')">
                            Next Outage Date is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <div class="example-button-row float-end">
                        <button mat-raised-button color="primary"  (click)="submit()" [hidden]="data.action == 'view'" [disabled]="!outageForm.valid"
                            [mat-dialog-close]="siteNextOutages">Save</button>
                           
                        <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>