<div class="addContainer">
    <div class="modalHeader">
        <div class="editRowModal">
            <div class="modalHeader clearfix">
                <div class="modal-about">
                    <div class="font-weight-bold p-t-5 msl-3 font-17">
                        {{dialogTitle}}</div>
                </div>
            </div>
        </div>
        <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div mat-dialog-content>
        <form class="register-form m-4" [formGroup]="form">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Group</mat-label>
                        <mat-select formControlName="groupId"  (selectionChange)="getIndicator(form.value.groupId)">
                            <mat-option>None</mat-option>
                            <mat-option *ngFor="let g of group" [value]="g.groupId">{{g.groupTitle}}</mat-option>
                        </mat-select> <mat-error *ngIf="form.get('groupId').hasError('required')">
                            Group is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Indicator</mat-label>
                        <mat-select formControlName="indicatorId">
                            <mat-option>None</mat-option>
                            <mat-option *ngFor="let g of indicator" [value]="g.indicatorId">{{g.indicatorCode + " " +g.indicatorTitle}}</mat-option>
                        </mat-select> <mat-error *ngIf="form.get('indicatorId').hasError('required')">
                            Indicator is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Weight</mat-label>
                        <input formControlName="infoWeight" type="number" matInput>
                        <mat-error *ngIf="form.get('infoWeight').hasError('required')">
                            Weight is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Formula Type</mat-label>
                            <mat-select formControlName="formulaType">
                            <mat-option>None</mat-option>
                            <mat-option *ngFor="let g of formulaType" [value]="g.formulaTypeId">{{g.formulaTitle}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="form.get('formulaType').hasError('required')">
                            Formula Type is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Unit</mat-label>
                        <input matInput rows="5" formControlName="unit">
                        <mat-error *ngIf="form.get('unit').hasError('required')">
                            unit is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Factor</mat-label>
                        <input formControlName="factor" type="number" matInput>
                        <mat-error *ngIf="form.get('factor').hasError('required')">
                            Factor is required
                        </mat-error>
                        <mat-error *ngIf="form.get('factor').hasError('nonZero')">
                            Zero can not be a factor
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Measurement</mat-label>
                        <textarea matInput rows="5" formControlName="measurementTitle"></textarea>
                        <mat-error *ngIf="form.get('measurementTitle').hasError('required')">
                            Measurement is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Annual Target</mat-label>
                        <textarea matInput rows="5" formControlName="annualTargetTitle"></textarea>
                        <mat-error *ngIf="form.get('annualTargetTitle').hasError('required')">
                            Annual Target is required
                        </mat-error>
                    </mat-form-field>
                </div>
               
                
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Classification</mat-label>
                        <textarea matInput rows="5" formControlName="classificationTitle"></textarea>
                        <mat-error *ngIf="form.get('classificationTitle').hasError('required')">
                            Classification is required
                        </mat-error>
                    </mat-form-field>
                </div>
            
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2">
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2">
                    <div class="example-button-row float-end">
                        <button mat-raised-button color="primary" [type]="submit" [disabled]="!form.valid"
                            [hidden]="data.action === 'view'"  (click)="submit()">Save</button>
                        <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>