<div class="addContainer">
    <div class="modalHeader">
        <div class="editRowModal">
            <div class="modalHeader clearfix">
                <div class="modal-about">
                    <div class="font-weight-bold p-t-5 msl-3 font-17">
                        {{dialogTitle}}</div>
                </div>
            </div>
        </div>
        <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div mat-dialog-content>
        <form class="register-form m-4" [formGroup]="actionForm">
            <!-- <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" *ngIf="!view">
                        <mat-label>Region</mat-label>
                        <mat-select formControlName="regionId" (selectionChange)="getSites($event.value)">
                            <mat-option>None</mat-option>
                            <mat-option *ngFor="let act of regions"
                                [value]="act.regionId">{{act.regionTitle}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="actionForm.get('regionId').hasError('required')">
                            Region is required
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="example-full-width" appearance="outline" *ngIf="view">
                        <mat-label>Region</mat-label>
                        <input matInput formControlName="regionTitle" [readonly]="view">
                    </mat-form-field>
                </div>
            </div> -->
            <!-- <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" *ngIf="!view">
                        <mat-label>Site</mat-label>
                        <mat-select formControlName="siteId" (selectionChange)="getEq($event.value)">
                            <mat-option>None</mat-option>
                            <mat-option *ngFor="let act of sites"
                                [value]="act.siteId">{{act.siteTitle}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="actionForm.get('regionId').hasError('required')">
                            Site is required
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="example-full-width" appearance="outline" *ngIf="view">
                        <mat-label>Site</mat-label>
                        <input matInput formControlName="siteTitle" [readonly]="view">
                    </mat-form-field>
                </div>
            </div> -->

            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" *ngIf="!view">
                        <mat-label>TIL Number</mat-label>
                        <mat-select formControlName="tilId">
                            <mat-option>None</mat-option>
                            <mat-option *ngFor="let til of tils" [value]="til.tilId">{{til.tilNumber}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="actionForm.get('tilId').hasError('required')">
                            TIL Number is required
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="example-full-width" appearance="outline" *ngIf="view">
                        <mat-label>TIL Number</mat-label>
                        <input matInput formControlName="tilNumber" [readonly]="view">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>TIL Action</mat-label>
                        <input matInput formControlName="actionTitle" [readonly]="view">
                        <mat-error *ngIf="actionForm.get('actionTitle').hasError('required')">
                            TIL Action is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>users</mat-label>
                        <mat-select #user (selectionChange)="addChip(user.value, 'user')" formControlName="userId" [disabled]="view">
                            <mat-option>None</mat-option>
                            <mat-option *ngFor="let act of apiUsers" [value]="act.userId">{{act.userName}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-chip-list>
                        <mat-chip color="primary" *ngFor="let u of userList" (removed)="removeChip(u, 'user')" selected>
                            {{u.email}}
                            <button matChipRemove [disabled]="view">
                                <mat-icon>cancel</mat-icon>
                            </button>
                        </mat-chip>
                    </mat-chip-list>
                </div>
            </div> -->
            <div class="row">
                <!-- <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Applicability tracking</mat-label>
                        <mat-select #eq (selectionChange)="addChip(eq.value, 'equipment')" formControlName="equipmentIds" [disabled]="view">
                            <mat-option>None</mat-option>
                            <mat-option *ngFor="let act of selectedEq" [value]="act.equipmentId">{{ act.unit}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-chip-list>
                        <mat-chip color="primary" *ngFor="let u of equipmentList" (removed)="removeChip(u, 'equipment')" selected>
                            {{u.unit}}
                            <button matChipRemove [disabled]="view">
                                <mat-icon>cancel</mat-icon>
                            </button>
                        </mat-chip>
                    </mat-chip-list>
                </div> -->
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-label>Applicability tracking</mat-label>
                    <mat-chip-list>
                        <mat-chip color="accent" (click)="openTeamMembersPanel()" #teamMembersPanelOrigin>
                            Add
                            <button matChipRemove (click)="openTeamMembersPanel()">
                                <mat-icon>add</mat-icon>
                            </button>
                        </mat-chip>
                        <ng-template #teamMembersPanel>
                            <div class="card p-4" style="max-height: 15rem; overflow-y: auto;">
                                            <input type="text"
                                            placeholder="Enter unit name" (input)="filterTeamMembers($event)"
                                            [maxLength]="30" #newTeamMembersInput>
                                <div class="mt-2">
                                    <ng-container *ngFor="let s of sites">
                                        <div>
                                            <mat-checkbox class="flex items-center h-10 min-h-10"
                                            [checked]="checkerSites(s)"
                                            [disableRipple]="true" [color]="'primary'"
                                            (change)="changeSelection($event.checked, s)"
                                                (click)="$event.stopPropagation()">
                                                {{ s.siteTitle }}
                                            </mat-checkbox>
                                        </div>
                                        <ng-container *ngFor="let e of selectedEq; trackBy: trackByFn">
                                            <div class="ms-4" *ngIf="s.siteId == e.siteId">
                                                <mat-checkbox class="flex items-center h-10 min-h-10"
                                                [checked]="checker(e)"
                                                [disableRipple]="true" [color]="'primary'"
                                                    (change)="toggleTeamMembersSelection($event.checked,e)"
                                                    (click)="$event.stopPropagation()">
                                                    {{ e.unit }}
                                                </mat-checkbox>
                                            </div>
                                        </ng-container>
                                    </ng-container>
                                </div>
                            </div>
                        </ng-template>
                        <mat-chip color="primary" *ngFor="let u of equipmentList" (removed)="removeChip(u, 'equipment')"
                        selected>
                        {{u.unit}}
                        <button matChipRemove [disabled]="view">
                            <mat-icon>cancel</mat-icon>
                        </button>
                    </mat-chip>
                    </mat-chip-list>
                </div>

            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" *ngIf="!view">
                        <mat-label>Action Closure Guidelines</mat-label>
                        <mat-select formControlName="actionClosureGuidelinesId">
                            <mat-option>None</mat-option>
                            <mat-option *ngFor="let act of actionClosure" [value]="act.acId">{{act.title}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="actionForm.get('actionClosureGuidelinesId').hasError('required')">
                            Action Closure Guidelines is required
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="example-full-width" appearance="outline" *ngIf="view">
                        <mat-label>Action Closure Guidelines</mat-label>
                        <input matInput formControlName="actionClosureGuidelinesTitle" [readonly]="view">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" *ngIf="!view">
                        <mat-label>Unit Status</mat-label>
                        <mat-select formControlName="unitStatusId">
                            <mat-option>None</mat-option>
                            <mat-option *ngFor="let act of outages"
                                [value]="act.outageTypeId">{{act.title}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="actionForm.get('unitStatusId').hasError('required')">
                            Outage is required
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="example-full-width" appearance="outline" *ngIf="view">
                        <mat-label>Unit Status</mat-label>
                        <input matInput formControlName="unitStatusTitle" [readonly]="view">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Description</mat-label>
                        <textarea matInput formControlName="actionDescription" [readonly]="view"></textarea>
                        <mat-error *ngIf="actionForm.get('actionDescription').hasError('required')">
                            Description is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Expected Budget</mat-label>
                        <input matInput formControlName="expectedBudget" [readonly]="view">
                        <mat-error *ngIf="actionForm.get('expectedBudget').hasError('required')">
                            Expected Budget is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" *ngIf="!view">
                        <mat-label>Budget Source</mat-label>
                        <mat-select formControlName="budgetSourceId">
                            <mat-option>None</mat-option>
                            <mat-option *ngFor="let act of budgetSources"
                                [value]="act.budgetSourceId">{{act.budgetSourceTitle}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="actionForm.get('budgetSourceId').hasError('required')">
                            Budget Source is required
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="example-full-width" appearance="outline" *ngIf="view">
                        <mat-label>Budget Source</mat-label>
                        <input matInput formControlName="budgetSourceTitle" [readonly]="view">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>PAT Comment</mat-label>
                        <textarea matInput formControlName="patComments" [readonly]="view"></textarea>
                        <mat-error *ngIf="actionForm.get('patComments').hasError('required')">
                            PAT Comment is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>PAT Comment</mat-label>
                        <textarea matInput formControlName="patComments" [readonly]="view"></textarea>
                        <mat-error *ngIf="actionForm.get('patComments').hasError('required')">
                            PAT Comment is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div> -->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" *ngIf="!view">
                        <mat-label>Priority</mat-label>
                        <mat-select formControlName="priorityId">
                            <mat-option>None</mat-option>
                            <mat-option *ngFor="let act of prioritys"
                                [value]="act.priorityId">{{act.priorityTitle}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="actionForm.get('priorityId').hasError('required')">
                            Priority is required
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="example-full-width" appearance="outline" *ngIf="view">
                        <mat-label>Priority</mat-label>
                        <input matInput formControlName="priorityTitle" [readonly]="view">
                    </mat-form-field>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Recurrence</mat-label>
                        <textarea matInput formControlName="recurrence" [readonly]="view"></textarea>
                        <mat-error *ngIf="actionForm.get('recurrence').hasError('required')">
                            Recurrence is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div> -->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" *ngIf="!view">
                        <mat-label>Review Status</mat-label>
                        <mat-select formControlName="reviewStatusId" disabled>
                            <mat-option>None</mat-option>
                            <mat-option *ngFor="let act of reviewStatuss"
                                [value]="act.reviewStatusId">{{act.reviewStatusTitle}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="actionForm.get('reviewStatusId').hasError('required')">
                            Review Status is required
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="example-full-width" appearance="outline" *ngIf="view">
                        <mat-label>Review Status</mat-label>
                        <input matInput formControlName="reviewStatus" [readonly]="view">
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <div class="example-button-row float-end">
                        <button mat-raised-button color="primary" (click)="submit()" [disabled]="!actionForm.valid"
                            [mat-dialog-close]="submitObject" *ngIf="!view">Save</button>
                        <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>