<section class="content">
    <div class="content-block">
      <div class="block-header">
        <app-breadcrumb [title]="'Working Hours'" [items]="[]" [active_item]="'Upload GT Hours'"></app-breadcrumb>
      </div>
      <div class="row clearfix">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="card">
            <div class="body">
              <div class="table-responsive">
                <div class="materialTableHeader">
                  <div class="row">
                    <div class="col-8">
                      <ul class="header-buttons-left ms-0">
                        <li class="dropdown">
                          <h2>Working Hours</h2>
                        </li>
                        <li class="dropdown m-l-20">
                          <label for="search-input"><i class="material-icons search-icon">search</i></label>
                          <input placeholder="Search" type="text" (keyup)="applyFilter($event)" #input
                            class="browser-default search-field" aria-label="Search box">
                        </li>
                        <li>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="overflow-auto">
                  <table mat-table [dataSource]="dataSource" matSort>
                    <ng-container matColumnDef="id">
                      <th mat-header-cell *matHeaderCellDef> No. </th>
                      <td mat-cell *matCellDef="let region ; let i = index"> {{i+1}} </td>
                    </ng-container>
                    <ng-container matColumnDef="regionTitle">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Region </th>
                      <td mat-cell *matCellDef="let region"> {{region.regionTitle}} </td>
                    </ng-container>
                    <ng-container matColumnDef="siteTitle">
                      <th mat-header-cell *matHeaderCellDef> Site </th>
                      <td mat-cell *matCellDef="let region"> {{region.siteTitle}} </td>
                    </ng-container>
                    <ng-container matColumnDef="unitTitle">
                      <th mat-header-cell *matHeaderCellDef> Unit </th>
                      <td mat-cell *matCellDef="let region"> {{region.unitTitle}} </td>
                    </ng-container>
                    <ng-container matColumnDef="endOfContract">
                      <th mat-header-cell *matHeaderCellDef> End Of Contract </th>
                      <td mat-cell *matCellDef="let region"> {{region.endOfContract | date}} </td>
                    </ng-container>
                    <ng-container matColumnDef="startingHours">
                      <th mat-header-cell *matHeaderCellDef> Starting Hours </th>
                      <td mat-cell *matCellDef="let region"> {{region.startingHours | date}} </td>
                    </ng-container>                
                    <ng-container matColumnDef="actions">
                      <th mat-header-cell *matHeaderCellDef style="padding-left:10px!important">Actions</th>
                      <td mat-cell class="action-button" *matCellDef="let row; let i=index;" class="pr-0">
                        <button mat-icon-button (click)="$event.stopPropagation()" (click)="updateUnit(row)"
                          class="tbl-action-btn" matTooltip="EDIT">
                          <app-feather-icons [icon]="'edit'" [class]="'tbl-fav-edit'"></app-feather-icons>
                        </button>
                      </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="updateUnit(row)"
                      [style.cursor]="'pointer'" matRipple></tr>
                  </table>
                  <div *ngIf="isTableLoading" class="tbl-spinner">
                    <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
                    </mat-progress-spinner>
                  </div>
                  <div *ngIf="!isTableLoading" class="no-results"
                    [style.display]="dataSource.renderedData?.length == 0 ? '' : 'none'">
                    No results
                  </div>
                  <mat-paginator [pageSizeOptions]="[10, 20, 100]" showFirstLastButtons
                    aria-label="Select page of periodic elements">
                  </mat-paginator>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>